<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <title>User Details</title>
</head>
<body>
    <main>
        <div class="flex column">
            <a href="/">Home</a>
            <a href="/users">All Users</a>
        </div>
        <h2>User Details</h2>
        <div class="singleUser">
            <h3><%= user.name %></h3>
            <p>Email:<%= user.email %></p>
            <p>Age:<%= user.age %></p>
            <p>Address:<%= user.address %></p>
            <p>Bio:<%= user.bio %></p>
            <p>Hobbies: <%= user.hobbies %></p>
        </div>
        <div class="flex column">
            <a href="/users/<%= user.id %>/edit">Edit User</a>
            <a href="/users/<%= user.id %>/delete">Delete User</a>
        </div>
    </main>
</body>
</html>